.dashboard {
    display: flex;
    align-self: flex-start;
    padding-left: 100px;
    padding-top: 80px;
}

.lists {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: 500px;
}

.listsHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    position: relative;
}

.addListButton {
    display: flex;
    position: absolute;
    right: 0px;
}

.followingLists {
    display: flex;
    margin-left: 175px;
    flex-direction: column;
    width: 500px;
}

.listProfileIcon {
    max-width: 120px;
}

img {
    max-width: 120px;
}

.listItem {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.listLeft { 
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.listRight {
    display:flex;
    flex-direction: column;
}

.listOwnerName {
    margin-top: 10px;
}

.registerLogin {
    display: flex;
    flex-direction: row;
    
}

.followingListsHeader {
    display: flex;
    margin-bottom: 25px;
}

.dashboardListFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#listsHeaderIcon {
    height: 30px;
    display: flex;
    align-self: center;
    margin-right: 20px;
}

.listHeaderHeading {
    display: flex;
}