.discoverPage {
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: center;
    margin-top: 200px;
}

.searchBar {
    /* display: flex; */
}

.searchInput {
    /* display: flex; */
}

.searchButton {
    /* display: flex; */
    /* margin-left: 10px; */
}