.discoverPage {
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: center;
    margin-top: 200px;
}

.searchResults {
  margin-top: 30px;
}

.noResultsFoundAlert {
  margin-top: 30px;
}