.listPage {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.listHeader {
    margin-top: 50px;
}

.listPageListItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}