.emailField {
    margin-bottom: 20px;
    margin-top: 20px;
}

.loginForm {
    display: flex;
    justify-content: center;
}

.loginBox {
    width: 500px;
}
.passwordField {
    margin-bottom: 40px;
}
