.navBar {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: 100px;
}

.navBar img {
    width: 165px;
    margin: 20px;
    margin-bottom: 15px;
    margin-right: 40px;
}

.tabs {
    flex-grow: 1;
}

.loginSection {
    margin-right: 50px;
}