.profileHeader {
    display: flex;
    justify-content: center;
}

.profileLists {
    margin-top: 40px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.profileListsHeading {
    display: flex;
    align-self: center;
    margin-bottom: 30px;
}

.listOwnerName {
    text-align: center;
}

.profileSection {
    display: flex;
    flex-direction: column;
}

.profileIcon {
    align-self: center;
}

.profilePageFollowUserButton {
    align-self: center;
}